html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.t-loadouts {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    outline: auto;
    outline-width: 1px;
}